.ViewBtn {
  cursor: pointer;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.row div {
  flex-basis: 50%;
}

.Customer {
  font-size: 1.5rem;
}

.formCaption {
  margin-bottom: 1.4rem;
  font-weight: bold;  
}

.row,
.singleRow {
  margin-bottom: 2rem;
}